.avatar {
  /* transform: translateX(0px); */
  animation: float 6s ease-out infinite;
  position: fixed;
  /* overflow: hidden; */
  z-index: -2;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}
.avatar.about {
  height: 100vh;
  opacity: 0.8;
  bottom: 50px;
  left: 20%;
  /* transform: scaleX(-1); */
}

.avatar.skills {
  max-height: 80vh;
  height: 60vh;
  bottom: 0vh;
  left: 100px;
  /* transform: translateX(0%) scaleX(-1); */
}

.shadow-overlay-skills {
  height: 100vh;
  width: 100vh;
  display: block;
  position: fixed;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

@media (max-width: 1100px) {
  .avatar.about {
    transform: scale(0.3);
  }
  .avatar.skills {
    height: 70vh;
  }
}

@media (max-width: 700px) {
  .avatar.about {
    margin-left: -16% !important;
    margin-bottom: -30%;
    transform: scale(0.4);
  }
}
