#bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.shadow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
  .shadow-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

#audio1 {
  margin-left: 100px;
  margin-top: 200px;
  & button {
    padding: 0;
    border: 0;
    /* background: inherit; */
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 30px;
  }
  & #audio-player-container {
    position: relative;
    /* margin: 90px 5% auto 5%; */
    /* width: 90%; */
    max-width: 38px;
    height: 38px;
    /* background: #e3d9d9; */
  }

  & #play-icon {
    /* margin: 2px; */
  }
}
