.skill-menu {
  width: 600px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20%;
  right: 10vw;
  align-items: flex-end;
  box-shadow: 1px 1px 1px gold;
}

.skill-item {
  height: 2rem;
  width: 80%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.skill-title {
  padding-right: 4.5rem;
}

.skill-item.activeSkill .skill-title {
  font-size: 1.5rem;
}

.activeSkill {
  border-radius: var(--radius-left);
  cursor: default;
}

.skill-item.activeSkill:nth-child(1) {
  background-image: linear-gradient(20deg, #4b575697, gold 50%, #5f5a5f9e);
  /* background: linear-gradient(45deg, #000000e1, var(--blue) 90%, #000000e1); */
}

.skill-item.activeSkill:nth-child(2) {
  background-image: linear-gradient(20deg, #4b575697, gold 50%, #5f5a5f9e);
  /* background: linear-gradient(45deg, #000000e1, var(--green) 90%, #000000e1); */
}

.skill-icon {
  display: none;
}

.skill-sub-container-1 h3,
.skill-sub-container-2 h3 {
  position: relative;
  margin: 0;
}

.menu {
  color: gold;
  width: 19rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-25%);
  right: 15vw;
}

.skill-sub-container-1,
.skill-sub-container-2 {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.level-container {
  display: flex;
  gap: 0.3rem;
}

.skill-sub-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

@media (max-width: 1100px) {
  .skill-item.activeSkill .skill-title {
    font-size: 1rem;
  }
  .skill-icon {
    display: none;
  }
  .level-point {
    width: 1.2rem;
    height: 1rem;
    border-radius: 0.1rem;
  }
  .level-container {
    gap: 0.15rem;
  }
  .skill-sub-container-1,
  .skill-sub-container-2 {
    gap: 0.5rem;
  }
  .skill-sub-container {
    margin-top: 2rem;
    gap: 0.2rem;
  }
  h1 {
    font-size: 0.8rem;
  }
  h2,
  h3,
  p {
    font-size: 0.7rem;
  }
  .skill-menu {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    top: 30%;
    color: gold;
  }
  .skill-item {
    height: 2rem;
    width: 12em;
  }
}

@media (max-width: 700px) {
  .menu {
    width: 100px;
    display: flex;
    flex-direction: row;
    top: 19%;
    gap: 1.5625rem;
  }
}
